@charset "utf-8";
/* CSS Document */
@import url("scroll.css");

body
{
	background:#330033;
}
/*------------index----------------*/
#larisa
{
	margin:200px auto;
	width:500px;
	height:200px;
	background:url(../images/larisa.png);
	background-position:center;
	background-repeat:no-repeat;
}
/*-----------------main page-------------- */
#wrap 
{
	margin:0 auto;
	padding:10px;
	width:1300px;
}	
#logo 
{
	margin:20px auto;
	width:288px;
	height:162px;
	background:url(../images/larisa-small.png);
}

#innerwrap
{
	position:relative;
	margin: 0 auto;
	width: 1300px;
	height: 400px;
}

li
{
	display:inline-block;
	margin-left: 62px;
}
ul
{
	display: inline-block;
	position: absolute;
	margin: 60px auto;
}

.imga
{
	opacity:0.5;
	border-bottom:solid 4px rgba(20, 20, 20, .70);
}

.imgb
{
	opacity:0.5;
	border-bottom:solid 4px rgba(20, 20, 20, .70);
}

.imgc
{
	opacity:0.5;
	border-bottom:solid 4px rgba(20, 20, 20, .70);
}

.block1
{
	display:block;
	margin: auto;
	opacity:0;
}

.block2
{
	display:block;
	margin: auto;
	opacity:0;
}

.block3
{
	display:block;
	margin: auto;
	opacity:0;
}

.fade {
  transition: all 300ms linear 700ms;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  opacity: 1;
}

.fade.out {
  opacity: 0;
}

/*---------------------- about me ----------------*/

#wrap-about
{
	width:1300px;
	margin:20px auto;
	height:100%;
}
#logo-about
{
	margin:auto;
	width:288px;
	height:156px;
}
#larisa-about
{
	margin:0px auto;
	width:431px;
	height:351px;
	padding:0px;
}
#aboutme
{
	margin:auto;
	width:700px;
	height:370px;
}

#aboutme p
{
	color:black;
	text-shadow:#996 1px 1px;
	font-family:"MS Serif", "New York", serif;
	font-size:17px;
	text-align:justify;
	padding-right: 5px;
	
}

#aboutme-img
{
	background:url(../images/larisa-face.jpg) no-repeat;
	float: left;	
	margin:70px 5px 10px 55px;
	border:#5B2E00 solid 2px;
	width:174px;
	height:223px;
	border-radius:2px;
	
}
#about-content
{
	background:url(../images/bgabout.jpg);
	border-radius:20px;
	width:700px;
	height:370px;
	margin:40px auto;
	box-shadow: 2px 2px 2px #333333;
}
/*---------------contact------------------*/

input, textarea, placeholder
{
	color:#A36B05;
	width: 400px;
	margin-bottom: 5px;
	font-family:"MS Serif", "New York", serif;
	font-size: 1.1em;
	border-radius: 5px;
}

input[name="Submit"], input[name="Submit2"]{
	width: 80px;
}

#wrap-contact
{
	width:1300px;
	margin:20px auto;
	height:100%;
}

#logo-contact
{
	width:288px;
	height:160px;
	margin:20px auto;
}

#form-design
{
	position: relative;
	width:500px;
	height:400px;
	margin:0 auto;
	border-radius:25px;
	background-color:rgba(97, 68, 0, .2);
}

#telephone
{
	position: absolute;
	width: 250px;
	margin:300px 150px;	
	color: 	#833A05;
	text-shadow:#000 1px 1px;
	font-size: 1em;
}

#telephone a{
	color: inherit; /* blue colors for links too */
	text-decoration: none; /
}

#form-contact
{
	position: absolute;
	margin: 70px 50px;
	width:400px;
}

p.menu{
	margin-left:620px;
	color:#833A05;
	font-family:"Pacifico";
	font-size: 12px;
}
a{
	text-decoration:none;
}
	
